/* ===============================
   SECTION HEADING
================================ */

.section-heading{

    text-align:center;

    margin-bottom:80px;

}

.section-tag{

    display:inline-block;

    padding:8px 18px;

    border-radius:999px;

    background:rgba(59,130,246,.12);

    color:var(--primary);

    border:1px solid rgba(59,130,246,.3);

    font-size:.9rem;

    font-weight:600;

    margin-bottom:20px;

}

.section-heading h2{

    font-size:3rem;

    margin-bottom:20px;

}

.section-heading p{

    max-width:720px;

    margin:auto;

    color:var(--text-secondary);

    line-height:1.8;

    font-size:1.05rem;

}